In [1]:
import pandas as pd
# get all opendatadc into long/lat coordinates

In [44]:
signalized_df = pd.read_csv("Signalized_Intersections_ACISA.csv", usecols=["X", "Y"])
signalized_df.head()

           X          Y
0 -77.087852  38.959131
1 -77.087586  38.959369
2 -77.083740  38.962319
3 -77.078167  38.966709
4 -77.091249  38.956485

In [50]:
crash_df = pd.read_csv("Crashes_in_DC.csv", usecols=["MPDLATITUDE", "MPDLONGITUDE"])
crash_df.head()

   MPDLATITUDE  MPDLONGITUDE
0    38.925518    -76.986275
1    38.918412    -76.962103
2    38.905210    -77.014683
3    38.872879    -76.935052
4    38.882567    -77.017569